<div class="col-sm-6 col-md-4 col-md-offset-4">
  <%= form_for(@task) do |f| %>
    <% if @task.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@task.errors.count, "error") %> prohibited this task from being saved:</h2>

        <ul>
          <% @task.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <div class="field form-group">
      <%= f.label :name %><br>
      <%= f.text_field :name, class: "form-control" %>
    </div>
    <div class="field form-group">
      <%= f.label :description %><br>
      <%= f.text_area :description, class: "form-control" %>
    </div>
    <div class="field form-group">
      <%= f.label :user %><br>
      <%= collection_select(:task, :user_id, User.all, :id, :full_name, {prompt: true}, {class: "form-control"}) %>
    </div>
    <div class="field form-group">
      <%= f.label :attachments %><br>
      <%= render partial: 'partials/task/attachments' if @attachments %>
      <%= f.file_field :attachments, multiple: true %>
    </div>

    <div class="actions">
      <%= f.submit class: 'btn btn-primary' %>
    </div>
  <% end %>
</div>