<h1><%= t('tasks.edit.title') %></h1>

<%= render partial: 'partials/task/current_state' %>
<%= render 'form' %>

<%= link_to t('actions.show'), @task %> |
<%= link_to t('actions.back'), tasks_path %>
