<p id="notice"><%= notice %></p>

<h1><%= t('users.index.title') %></h1>

<table class="table">
  <thead>
    <tr>
      <th><%= t('users.labels.email') %></th>
      <th><%= t('users.labels.password') %></th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.email %></td>
        <td><%= user.password %></td>
        <td><%= link_to t('actions.show'), user %></td>
        <td><%= link_to t('actions.edit'), edit_user_path(user) %></td>
        <td><%= link_to t('actions.destroy'), user, method: :delete, data: { confirm: t('actions.confirm') } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to t('users.links.new'), new_user_path %>
