<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
  <div class="container-fluid">
    <div class="navbar-header">
      <%= link_to "Task Manager Demo", root_path, id: "logo", class: "navbar-brand" %>
    </div>

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <%= nav_link 'Home', root_path if user_signed_in? %>

        <% if user_signed_in? %>
          <%= nav_link 'Edit Profile', edit_user_registration_path %>
          <%= nav_link 'Logout', destroy_user_session_path, :delete %>
        <% else %>
          <%= nav_link 'Login', new_user_session_path %>
          <%= nav_link 'Register', new_user_registration_path %>
        <% end %>
      </ul>
    </div>
  </div>
</nav>