<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
  <div class="container-fluid">
    <div class="navbar-header">
      <%= link_to t('application.title'), root_path, id: "logo", class: "navbar-brand" %>
    </div>

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <%= nav_link t('application.nav_bar.home'), root_path if user_signed_in? %>

        <% if user_signed_in? %>
          <%= nav_link t('application.nav_bar.edit_profile'), edit_user_registration_path %>
          <%= nav_link t('application.nav_bar.logout'), destroy_user_session_path, :delete %>
        <% else %>
          <%= nav_link t('application.nav_bar.login'), new_user_session_path %>
          <%= nav_link t('application.nav_bar.register'), new_user_registration_path %>
        <% end %>
      </ul>
    </div>
  </div>
</nav>